<!DOCTYPE html>
<html lang="en">
    <%- include("templates/head.ejs") %>
<body>
    <%- include("templates/navBar.ejs") %>
    <div class="text-center" style="display: flex; align-items: center;">
        <img src="img/home.svg" alt="imagen de inicio" class="img-home">
        <div>
            <h1 class="text-home">Gestión de proveedores y sus productos</h1>
            <p class="text-home">Bienvenido a nuestra página web donde puedes explorar la lista completa de proveedores y sus productos asociados. Descubre la diversidad de opciones que ofrecemos y encuentra soluciones de alta calidad para tus necesidades.</p>
        </div>
    </div>
</body>
</html>
