<table class="table table-striped">
    <thead>
        <tr>
            <% columns.forEach(column => { %>
                <th scope="col"><%= column %></th>
            <% }) %>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(info => { %>
            <tr>
                <% columns.forEach(column => { %>
                    <td><%= info[column] %></td>
                <% }) %>
            </tr>
        <% }) %>   
    </tbody>
</table>
